/* Fonts */
/* Montserrat  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,500;0,900;1,200;1,500;1,900&display=swap');
/* font-family: 'Montserrat', sans-serif; */

/* Exo 2 */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,200;0,500;0,900;1,200;1,500;1,900&display=swap');
/* font-family: 'Exo 2', sans-serif; */

body {
    margin: 0;
}

:root {
    --primary-color: #03989E;
    --secondary-color: #000000;
    --accent1-color: #00FFEA;
    --accent2-color: #EFFFFF;

    --heading-font: 'Exo 2';
    --paragraph-font: 'Montserrat';
}

/* MENU */
.header-menu {
    background-color: #000000;
    display: flex;
    height: 90px;
}

.logo-menu {
    width: 230px;
    height: 85px;
    margin: auto auto auto 20px;
}

.header-menu-nav {
    width: 660px;
}

.header-menu-nav__btn {
    visibility: hidden;
}

.header-menu-nav__list {
    padding: 0;
    margin: 9px auto auto auto;

}

.header-menu-nav__list li {
    display: inline-block;
}

.header-menu-nav__list a {
    min-width: 100px;
    text-decoration: none;
    padding: 30px 68px;
    color: var(--primary-color);
    font-family: 'Montserrat';
}

.header-menu-nav__list a:hover {
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

.header-menu-nav__item {
    font-size: 25px;
}

/* Home Page */

.main-image {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-box {
    position: absolute;
    width: 40%;
    top: 45%;
    left: 27%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: var(--accent2-color);
}

.text-box__subtitle {
    font-size: 40px;
    margin-left: 40px;
    margin-bottom: 10px;
    font-family: 'Exo 2';
}

.text-box__title {
    font-size: 60px;
    margin: 0;
    font-family: 'Montserrat';

}

/* Quality Section */

.quality__title {
    width: 100vh;
    font-size: 30px;
    margin: 45px 0 0 95px;
    font-family: 'Exo 2';

}

.quality__subtitle {
    margin: 0 0 45px 95px;
    width: 50%;
    font-size: 45px;
    font-family: 'Montserrat';

}

.main-quality-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.quality__item {
    width: 20%;
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
}


.quality__item img {
    width: 70%;
    max-width: 100%;
    height: auto;
}

.quality__item h3 {
    font-size: 30px;
    font-family: 'Exo 2';
}

.quality__text {
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Montserrat';

}

/* Client Talk Section */

.client-talk__title {
    font-size: 30px;
    margin: 0;
    padding: 45px 0 0 95px;
    font-family: 'Exo 2';
    color: var(--accent2-color);
    background-color: var(--primary-color);
}

.client-talk__subtitle {
    padding: 0 0 45px 95px;
    margin: 0;
    font-size: 45px;
    font-family: 'Montserrat';
    color: var(--accent2-color);
    background-color: var(--primary-color);
}

.client-talk__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 80px solid var(--primary-color);
}

.client-talk__photo {
    width: 300px;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    margin: 30px 10px;
}

.client-talk__container {
    width: 30%;
    margin-left: 100px;
}

.stars-img {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.stars-img img {
    width: 30px;
    height: 30px;
}

.client-talk__text {
    margin: 20px 0;
    font-size: 25px;
    font-family: 'Montserrat';

}

.client-talk__name {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Exo 2';

}

/* Footer */

.footer-line-1__column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000000;
}

.logo {
    display: inline-block;
    text-align: left;
    margin-left: 30px;
}

.logo img {
    width: 25%;
    display: inline-block;
}

.footer-line-1__itens {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
}

.footer-line-1__itens a {
    width: 20%;
    height: 100%;
}

.footer-social-midia {
    font-size: 25px;
    font-family: 'Montserrat';
}

.footer-social-midia__icon {
    width: 100%;
    height: 100%;
}

.footer-line-1__container {
    display: flex;
    justify-content: space-around;
}

.footer__item,
.footer-menu {
    flex: 1;
    margin: 0 50px;
}

.footer-menu {
    text-align: center;
    margin: 0;
    margin-top: 10px;
    border-left: 1px solid black;
}

.footer__title {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Exo 2';
}

.footer__text {
    font-size: 14px;
    font-family: 'Montserrat';

}

.footer__links-list {
    display: block;
    color: var(--secondary-color);
    margin-bottom: 5px;
    font-family: 'Montserrat';
    text-decoration: none;

}

.footer-main-menu__list {
    list-style: none;
    padding: 0;
}

.footer-main-menu__item {
    margin-bottom: 5px;
}

.footer-main-menu__item a {
    font-family: 'Montserrat';
    text-decoration: none;
    color: var(--secondary-color);
}

.footer-main-menu__item a:hover {
    color: var(--primary-color);
}

.footer-line-2 {
    display: flex;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 80px;
    font-family: 'Montserrat';
    font-size: 18px;
}